@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bars fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Kategori</p>
                    <h6 class="mb-0">@ViewBag.activeCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-circle fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Personel</p>
                    <h6 class="mb-0">@ViewBag.activeEmployeeCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Daire Sayısı</p>
                    <h6 class="mb-0">@ViewBag.apartmentCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-rocket fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Kira</p>
                    <h6 class="mb-0">@ViewBag.averageProductPriceByRent</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Satış F.</p>
                    <h6 class="mb-0">@ViewBag.averageProductPriceBySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Oda Adet</p>
                    <h6 class="mb-0">@ViewBag.averageRoomCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.categoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Fazla Kategori</p>
                    <h6 class="mb-0">@ViewBag.categoryNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-star fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Max İlanlı Şehir</p>
                    <h6 class="mb-0">@ViewBag.cityNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-plus-square fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Şehir Sayısı</p>
                    <h6 class="mb-0">@ViewBag.differentCityCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-gift fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Max İlana Sahip Personel</p>
                    <h6 class="mb-0">@ViewBag.employeeNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-motorcycle fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son İlan Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.lastProductPrice</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-anchor fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Yeni Bina Yaşı</p>
                    <h6 class="mb-0">@(int.Parse(ViewBag.newestBuildingYear) - DateTime.Now.Year > 0 ? (int.Parse(ViewBag.newestBuildingYear) - DateTime.Now.Year) : "Yıl henüz geçmedi.")</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-shopping-basket fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Eski Bina Yaşı</p>
                    <h6 class="mb-0">@(int.Parse(ViewBag.oldestBuildingYear) - DateTime.Now.Year > 0 ? (int.Parse(ViewBag.oldestBuildingYear) - DateTime.Now.Year) : "Yıl henüz geçmedi.")</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bed fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Pasif Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.passiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-plane fa-2x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam İlan</p>
                    <h6 class="mb-0">@ViewBag.productCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>